@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading: #002968;
  --para: #777777;
  --black: #212121;
  --para-tint: #e4e4e4;
  --white: #ffffff;
  --bs-blue: #0d6efd;
  /* --bs-indigo: #6610f2;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --helper: #fbfbfb;
  --overlay-color: #3e64ff;
  --helper-tint: #f3f4ff;
  --input-border-color: #c9c9c9; */
  --bg-color: #f9f9f9;
  --icon-bg: rgba(144, 172, 209, 0.2);
  --gradient: linear-gradient(90deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --box-shadow: 0px 15px 15px 0px rgb(132 144 255 / 30%);
  --hover-color: #2f7aeb;
  --btn-padding: 1rem 2rem;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: var(--heading);
  background: var(--white);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rufina", serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--heading);
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  color: var(--black);
  line-height: 1.3;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--heading);
}

li {
  list-style: none;
}

.row {
  width: 100%;
}

/* ============= ! Reusable code start ========== */
.section {
  width: 100%;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container,
.container-fluid {
  display: block;
  justify-content: center;
  /* padding: 0 15px; */
}

.common-text-content {
  padding: 25px 20px;
}

.common-section {
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 6rem 4rem;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  background: var(--heading);
  border-radius: 20px;
  padding: var(--btn-padding);
  margin-top: 3rem;
}

.btn:hover {
  background: var(--hover-color);
  color: var(--white);
}

.bg-blue {
  background-color: var(--heading);
  color: var(--white);
}

.bg-blue P {
  color: var(--white);
}

.comm-head {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
  color: var(--heading);
}

.acid-tx {
  position: relative;
}

.acid-name {
  color: var(--heading);
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.acid-name::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 0.8rem;
  height: 0.4rem;
  width: 4rem;
  background-color: var(--heading);
}

.comm-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

/* .comm-image::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  background-color: transparent;
  z-index: 5;
  border-left: none;
  border-right: none;
} */
.comm-image::after {
  display: flex;
  align-items: start;
  justify-content: start;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: transparent;
  z-index: 5;
  border: 5px solid #e7e7e7;
  /* border: 10px solid rgb(237, 233, 233); */
}

/* ============= / Reusable code End ========== */

/* ============= ! top-bar start ========== */
.top-bar {
  background: var(--heading);
}

.call-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.social-links {
  margin: 0.5rem 0;
}

.social-items {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.top-bar .fa-icon {
  font-size: 2rem;
}

.top-bar a {
  font-size: 1.4rem;
  color: var(--white);
}

/* ============= / top-bar End ========== */

/* ============= ! dolphin-nav start ========== */
.top-bars {
  position: sticky;
  top: 0rem;
  z-index: 7;
}

.dolphin-nav .navbar {
  padding: 1.5rem 0;
  background-color: #e3f0fb;
}

.dolphin-nav .navbar .nav-logo {
  height: 75px;
  width: 200px;
}

.dolphin-nav .navbar .nav-logo img {
  height: 100%;
  width: 100%;
}

.dolphin-nav .navbar .navbar-nav {
  display: flex;
  gap: 1rem;
}

.dolphin-nav .navbar .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.dolphin-nav .navbar .navbar-nav .nav-item a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--heading);
  display: flex;
  align-items: center;
}

.navbar-nav .dropdown-menu {
  width: fit-content;
}

.dolphin-nav .navbar .navbar-nav .nav-item form input,
.dolphin-nav .navbar .navbar-nav .nav-item form .btn {
  font-size: 1.5rem;
  font-weight: 500;
}

.dolphin-nav .navbar .navbar-nav .nav-item form .btn {
  background: var(--heading);
  border: 1px solid var(--heading);
}

.dolphin-nav .navbar .navbar-nav .nav-item form .btn:hover {
  background: var(--hover-color);
}

/* ============= / dolphin-nav End ========== */

/* ============= ! carousel start ========== */
.section-carousel .wrapper2 {
  height: 100%;
  width: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-carousel .carousel {
  aspect-ratio: 16/9;
  display: grid;
  grid-template-areas: "stack";
  height: 95rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-carousel .slide {
  display: block;
  grid-area: stack;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  width: 100%;
}

.section-carousel .slide img {
  animation: panUp 10s ease-in-out infinite;
  height: 100%;
  position: absolute;
  width: 100%;
  width: 100%;
  height: 100%;
}

.page-content {
  color: #ffffff;
  text-shadow: 10px 5px 5px #000;
  position: absolute;
  font-size: 80px;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* @keyframes panUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10%);
  }
}

@keyframes panDown {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes panRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10%);
  }
}

@keyframes panLeft {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
} */

/* ============= / carousel End ========== */

/* =============  ! Experiment of Products Start ========== */

.Experiment-image {
  display: flex;
  justify-content: end;
  position: relative;
}

.Experiment-image .Experiment-img {
  width: 100%;
  height: 600px;
  position: relative;
}

.Experiment-image .Experiment-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.Experiment-image .vedio-page {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 2rem 0 0;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.Experiment-image .vedio-page a i {
  font-size: 3.5rem;
  color: var(--white);
  background: var(--heading);
  padding: 0.5rem 1.3rem;
  border-radius: 50%;
}

/* ============= / Experiment of Products End ========== */

/* ============= ! section-exploring Start ========== */
.exploring-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career-tx h2,
.career-tx p {
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--white);
}

.exploring-items i {
  font-size: 2rem;
  color: white;
  background: #002968;
  padding: 1rem;
  border-radius: 1rem;
}

.exploring-items i {
  font-size: 2rem;
  color: white;
  background: #002968;
  padding: 1rem;
  border-radius: 1rem;
}

/* ============= / section-exploring End ========== */

/* ============= ! Chemicals Start ========== */
.Chemicals-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.working-portion .work-details,
.our-details {
  width: 100%;
  margin-top: 3rem;
}

.working-portion .work-details .w-links,
.our-details .our-links {
  display: flex;
  gap: 3rem;
  width: 95%;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--para);
}

.working-portion .work-details .w-links .w-link,
.our-links .our-link {
  font-size: 18px;
  font-weight: 500;
}

.w-link-active,
.our-link-active {
  transform: translateY(-0.5rem);
  border-bottom: 2px solid var(--heading);
}

.w-text-not-active,
.our-text-not-active {
  display: none;
}

/* ============= / Chemicals End ========== */

/* ============= ! Why Start ========== */
.why-items i {
  font-size: 2rem;
  color: white;
  background: #002968;
  padding: 1rem;
  border-radius: 1rem;
}

.why-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.list-para {
  padding: 0 5px 30px 30px;
}

/* ============= / Why End ========== */

/* ============= ! foooter Start ========== */
.foooter {
  background: #e3f0fb;
  /* background: #e5e9ef; */
}

.foooter .footer-logo {
  height: 7.5rem;
  width: 20rem;
}

.foooter .footer-logo img {
  height: 100%;
  width: 100%;
}

.footer-links .footer-quick-links li {
  font-size: 1.7rem;
  font-weight: 400;
}

.footer-links .footer-social-links li {
  font-size: 1.7rem;
  font-weight: 400;
}

.footer-quick-links,
.footer-social-links,
.footer-contact {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-quick-links ul,
.footer-social-links ul,
.footer-contact ul {
  padding: 0;
}

.footer-contact ul li {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.footer-contact i {
  font-size: 2rem;
}

.footer-contact span {
  font-size: 1.7rem;
  font-weight: 400;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

/* ============= / foooter End ========== */

/* ============= ! research_slider Start ========== */
.research_slider {
  background-color: #20c997;
  padding: 8rem 0;
}

.swiper-slide .research-page {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 2rem 0 0 0;
  height: 5rem;
  width: 5rem;
  background-color: #20c997;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.swiper-slide .research-page a i {
  color: var(--white);
  background: var(--heading);
  padding: 1.2rem;
  border-radius: 50%;
  transform: rotate(-45deg);
}

/* ============= / research_slider ENd ========== */

/* +++++++++++++++++++About Us Page+++++++++++++++++++++ */
.about-img,
.ab-img {
  width: 100%;
  height: 600px;
  position: relative;
}

.page-img,
.ab-img {
  width: 100%;
  height: 600px;
}

.ab-img {
  position: relative;
}

.ab-img,
img {
  width: 100%;
  height: 100%;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ab1-content {
  position: absolute;
  top: 40rem;
  left: 20rem;
  color: white;
}

/* ============= / About Us Page End ========== */

/* ============= ! goal-chem Start ========== */
/* .goal-chem {
  position: relative;
} */

/* ============= / goal-chem End ========== */

/* ============= ! demo section Start ========== */
.demo {
  position: relative;
  color: var(--white);
}

.demo p {
  color: var(--white);
}

.ll-demo,
.rr-demo {
  padding: 50px 0;
  position: relative;
}

.ll,
.rr {
  width: 80%;
}

.ll-tx,
.rr-tx {
  margin: 10rem 0;
  width: 65%;
}

.ll-tx {
  /* transform: rotate(20deg); */
}

.rr-tx {
  /* transform: rotate(-20deg); */
}

.ll-tx img,
.rr-tx img {
  width: 5rem;
}

.ll-tx {
  display: block;
  flex-direction: column;
  text-align: end;
  align-items: center;
  justify-content: center;
}

.lr1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  position: absolute;
}

.lr1 .lr-text {
  font-size: 18rem;
  display: flex;
  transform: rotate(270deg);
  opacity: 0.5;
}

.lr2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  position: absolute;
}

.lr2 .lr-text {
  font-size: 18rem;
  display: flex;
  transform: rotate(270deg);
  opacity: 0.5;
}

/* ============= / demo section End ========== */

/* ============= ! product-materail Start ========== */
.product-materail {
  margin: 10rem 0 0 0;
  position: relative;
}

.product {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.7s linear;
}

.product .card {
  display: flex;
  transition: all 3s linear;
}

.pc-img {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.product .card:hover img {
  transform: scale(1.2);
  transition: all 0.7s linear;
}

.product .card img {
  height: 100%;
  width: 100%;
}

.product .product-tx {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.product .product-tx p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product .product-tx a {
  width: fit-content;
}

/* ============= / product-materail End ========== */

/* ============= ! career Start ========== */
.career-portion {
  background-image: url("../Images/Products/chem-1.jpg");
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.form input,
textarea {
  margin: 1rem 0;
  font-size: 2rem;
  padding: 0.5rem;
}

.form1 {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.form1 label {
  font-size: 2.5rem;
}

.form1 input {
  margin: 1rem 0;
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px solid black;
}

input,
textarea {
  border: 2px solid white;
}

/* ============= / career End ========== */

/* ============= ! products Start ========== */
.liquid {
  position: relative;
  margin-top: 5rem;
}

.liquid-image {
  width: 100%;
  height: 40rem;
}

.liquid-image img {
  width: 100%;
  height: 100%;
}

.liquid-tx {
  position: absolute;
  padding: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 2rem;
}

/* ============= ! product-table ========== */
.product-table tr td {
  border: 1px solid var(--black);
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
}

.product-table tr td {
  border: 1px solid var(--black);
}

.product-table tr th {
  font-size: 2rem;
  background: #124b85;
  color: #fff;
  border: 1px solid var(--black);
  border-right: 1px solid var(--white);
  padding: 0.5rem;
}

/* ============= / product-table ========== */

/* ============= ! contact ========== */
.our-contact {
  border: 2px solid var(--heading);
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 2rem;
}

.iframe {
  width: 100%;
  height: 100%;
}

/* ============= / contact ========== */

/* ============= !  MediaQuery ========== */
/* @media screen and (max-width: 1399.98px) {
  .comm-head {
    margin-bottom: 2.5rem;
  }

  .common-text-content {
    padding: 25px 20px;
  }

  .why-image img {
    object-fit: contain;
  }
} */

@media screen and (max-width: 1199.98px) {
  /* .rev-col {
    display: flex;
    flex-direction: column-reverse;
  } */
  /* .section-vedio,
  .vedio-portion,
  .home-vedio,
  video {
    max-height: 400px;
    width: 100%;
  } */
}

@media screen and (max-width: 991.98px) {
  .rev-col {
    display: flex;
    flex-direction: column-reverse;
  }

  .call-info,
  .social-links {
    width: fit-content;
  }

  .top-contact {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .dolphin-nav .navbar .navbar-nav {
    display: flex;
    gap: 0;
  }

  .dolphin-nav .navbar .navbar-nav .nav-item a {
    font-size: 1.8rem;
  }

  .dolphin-nav .navbar .nav-logo {
    height: 65px;
    width: 175px;
  }

  .dolphin-nav .navbar {
    padding: 0.5rem 0;
  }

  .common-section {
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 15px 20px;
  }

  .comm-head {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 15px;
  }

  .bg-blue {
    background-color: var(--white);
    color: var(--black);
  }

  .bg-blue P {
    color: var(--black);
  }

  .about-img,
  .ab-img {
    height: 400px;
  }

  .page-img,
  .ab-img {
    height: 400px;
  }

  .Experiment-image .Experiment-img {
    height: 350px;
  }

  .working-portion .work-details,
  .our-details {
    margin-top: 1rem;
  }

  .ll-tx h3 {
    color: var(--white);
  }

  .ll-demo h3,
  .rr-demo h3 {
    color: var(--white) !important;
  }

  .ll-demo p,
  .rr-demo p {
    color: var(--white);
  }

  .rr-demo {
    background-color: #002968;
  }

  .ll,
  .rr {
    width: 90%;
  }

  .ll-tx,
  .rr-tx {
    margin: 5rem 0;
    width: 90%;
  }

  .ll-tx {
    text-align: start;
  }

  .lr1 .lr-text {
    font-size: 15rem;
    font-weight: 600;
    opacity: 0.2;
    color: var(--white);
  }

  .lr2 .lr-text {
    font-size: 15rem;
    font-weight: 600;
    opacity: 0.2;
    color: var(--white);
  }
  .ll-demo,
  .rr-demo {
    padding: 20px 0;
  }
  .lr1 {
    left: 83.5%;
  }
  .lr2 {
    left: 12%;
  }
}

@media screen and (max-width: 767.98px) {
  .rev-col {
    display: flex;
    flex-direction: column-reverse;
  }

  .top-contact {
    display: flex;
    justify-content: center;
  }

  .call-info {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    gap: 10px;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  .top-bar a {
    font-size: 15px;
  }

  .top-bar .fa-icon {
    font-size: 20px;
  }

  .dolphin-nav .navbar .nav-logo {
    height: 65px;
    width: 180px;
  }

  .dolphin-nav .navbar .navbar-nav {
    display: flex;
    gap: 0.2rem;
  }

  .dolphin-nav .navbar .navbar-nav .nav-item a {
    line-height: 15px;
  }

  .common-section {
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 25px 20px;
  }

  .comm-head {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 1rem;
  }

  .bg-blue {
    background-color: var(--white);
    color: var(--black);
  }

  .bg-blue P {
    color: var(--black);
  }

  .working-portion .work-details,
  .our-details {
    margin-top: 15px;
  }

  .common-text-content {
    padding: 15px 15px;
  }

  .about-img,
  .ab-img {
    height: 400px;
  }

  .Experiment-image .Experiment-img {
    height: 400px;
  }

  .bg-blue {
    background-color: var(--white);
    color: var(--black);
  }

  .ll-tx h3 {
    color: var(--white);
  }

  .ll-demo h3,
  .rr-demo h3 {
    color: var(--white) !important;
  }

  .ll-demo p,
  .rr-demo p {
    color: var(--white);
  }

  .lr1 .lr-text {
    font-size: 160px;
    display: flex;
    transform: rotate(300deg);
    opacity: 0.2;
    color: var(--white);
  }

  .lr2 .lr-text {
    font-size: 160px;
    display: flex;
    transform: rotate(300deg);
    opacity: 0.2;
    color: var(--white);
  }

  .ll-tx,
  .rr-tx {
    margin: 50px 0;
  }

  .ll-tx {
    text-align: start;
  }

  .ll-tx,
  .rr-tx {
    width: 100%;
  }

  .ll,
  .rr {
    width: 95%;
  }

  .ll-demo,
  .rr-demo {
    padding: 15px 0;
    position: relative;
  }

  .rr-demo {
    background-color: #212529;
  }

  .raw-image {
    height: 300px;
  }

  .page-img,
  .ab-img {
    width: 100%;
    position: relative;
    height: 400px;
  }

  .product-materail {
    margin: 30px 0 0 0;
    position: relative;
  }

  .page-content {
    font-size: 65px;
  }
}

@media screen and (max-width: 575.98px) {
  .container,
  .container-fluid {
    padding: 0;
  }

  .container,
  .container-fluid {
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }

  .call-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .top-contact {
    display: flex;
    justify-content: center;
  }

  .top-bars {
    top: -1px;
  }

  p {
    color: var(--black);
    line-height: 1.3;
    font-size: 16px;
  }

  .top-bar .fa-icon {
    font-size: 15px;
  }

  .top-bar a {
    font-size: 12px;
  }

  .social-links {
    text-align: center;
  }

  .dolphin-nav .navbar .navbar-nav {
    display: flex;
    gap: 0.2rem;
  }

  .rev-col {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-carousel .carousel {
    aspect-ratio: 16 / 9;
    display: grid;
    grid-template-areas: "stack";
    height: 30rem;
    width: 100%;
    position: relative;
  }

  .dolphin-nav .navbar .nav-logo {
    height: 55px;
    width: 150px;
  }

  .page-content {
    font-size: 60px;
  }

  .section-carousel .page-content {
    font-size: 35px;
    top: 10rem;
  }

  .common-section {
    margin: 0rem;
    padding: 25px 20px;
  }

  .comm-head {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .common-text-content {
    padding: 20px 10px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  .Experiment-image .Experiment-img {
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
  }

  .exploring-content {
    padding: 1rem 1rem 1rem 1.5rem;
  }

  .Experiment-image .vedio-page {
    left: 0;
    bottom: -0.1rem;
  }

  .bg-blue {
    background-color: var(--white);
    color: var(--black);
  }

  .bg-blue P {
    color: var(--black);
  }

  .demo {
    position: relative;
    color: var(--black);
  }

  .demo p {
    color: var(--black);
  }

  .rr-tx {
    color: #000;
  }

  .working-portion .work-details .w-links,
  .our-details .our-links {
    gap: 2rem;
  }

  .working-portion .work-details .w-links .w-link,
  .our-links .our-link {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .list-para {
    padding: 0 5px 10px 30px;
  }

  .about-img,
  .ab-img {
    width: 100%;
    position: relative;
    height: 300px;
  }

  .page-img,
  .ab-img {
    width: 100%;
    position: relative;
    height: 300px;
  }

  .working-portion .work-details,
  .our-details {
    margin-top: 10px;
  }

  .raw-image {
    height: 200px;
  }

  .ll-demo,
  .rr-demo {
    padding: 10px 0;
    position: relative;
  }

  .ll-demo p,
  .rr-demo p {
    color: var(--white);
  }

  .ll-demo h3 {
    color: var(--white) !important;
  }

  .rr-demo {
    background-color: #212529;
  }

  .lr1,
  .lr2 {
    display: none;
  }

  .ll,
  .rr {
    width: 100%;
  }

  .ll-tx,
  .rr-tx {
    margin: 0;
    width: 100%;
    padding: 20px;
  }

  .ll-demo h3,
  .rr-demo h3 {
    color: var(--white) !important;
  }

  .ll-tx {
    text-align: start;
  }

  .product-materail {
    margin: 2rem 0 0 0;
  }

  .product-table tr th,
  .product-table tr td {
    font-size: 16px;
  }

  .form {
    padding: 2rem;
  }

  /* .choose-file {
    border: 2px solid var(--heading);
  } */
  input,
  textarea {
    border: 2px solid var(--heading);
  }

  .our-contact {
    margin-bottom: 0;
  }

  .form1 label {
    font-size: 15px;
    font-weight: 600;
  }

  .form1 input {
    font-size: 15px;
  }
}

/* ============= /  MediaQuery  End========== */
